/*#conteudoDaPagina {
    background: #FFE4C4;
}*/

.caixaCadastro label{
    color: white;
}
.formularioCadastro
{
    width:50%;
    background-color: rgba(0, 0, 0, 0.2);
    position:relative;                
    top: 70px; 
    margin: auto;
}

.caixaCadastro
{               
    width:90%;  
    position: relative;              
    padding: 10px;
    margin: auto;
}    

.caixaCadastro button
{
    margin-left: 40%;
}